.featured-next-arrow{
    position: absolute;
    top: -70px;
    right: 380px;
    z-index: 99999;
  }
  
  .featured-prev-arrow {
    position: absolute;
    top: -70px;
    left: 1310px;
    z-index: 99999;
  }
  
  @media (max-width: 1024px) {
    .featured-next-arrow {
        top: -70px;
      right: 2px;
    }
    .featured-prev-arrow{
        top: -70px;
      left: 672px;
    }
  }
  
  @media (max-width: 768px) {
    .featured-next-arrow {
        top: -70px;
      right: 2px;
    }
    .featured-prev-arrow{
        top: -70px;
      left: 620px;
    }
  }
  
  @media (max-width: 480px) {
    .featured-next-arrow{
        top: -34px;
      right: 0px;
    }
    .featured-prev-arrow{
        top: -34px;
      left: 212px;
    }
  }