.post-next-arrow {
    position: absolute;
    bottom: -226px;
    right: 16px;
    z-index: 99999;
  }
  
  .post-prev-arrow {
    position: absolute;
    bottom: -226px;
    left: 16px;
    z-index: 99999;
  }
  .slider-item {
    padding: 0 10px;
}
.slick-list {
    margin: 0 -10px; 
}
  @media (max-width: 1024px) {
    .post-next-arrow {
        bottom: -70px;
      right: 2px;
    }
    .post-prev-arrow{
        bottom: -70px;
      left: 2px;
    }
  }
  
  @media (max-width: 768px) {
    .post-next-arrow {
        bottom: -70px;
      right: 2px;
    }
    .post-prev-arrow {
        bottom: -70px;
      left: 2px;
    }
  }
  
  @media (max-width: 480px) {
    .post-next-arrow {
        bottom: -60px;
      right: 0px;
    }
    .post-prev-arrow {
        bottom: -60px;
      left: 2px;
    }
  }